// font size
@for $i from 1 to 101 {
    .size#{$i} {
        font-size: #{$i}px !important;
    }
}

// width height
@for $i from 1 to 3001 {
    .w#{$i} {
        width: #{$i}px !important;
    }
    .h#{$i} {
        height: #{$i}px !important;
    }
    .width#{$i} {
        width: calc(#{$i} * 1%) !important;
    }
    .height#{$i} {
        height: calc(#{$i} * 1%) !important;
    }
    .minw#{$i} {
        min-width: #{$i}px !important;
    }
    .minh#{$i} {
        min-height: #{$i}px !important;
    }
    .maxw#{$i} {
        max-width: #{$i}px !important;
    }
    .maxh#{$i} {
        max-height: #{$i}px !important;
    }
    .vh#{$i} {
        height: #{$i}vh !important;
    }
    .vw#{$i} {
        width: #{$i}vw !important;
    }
    .vw100-#{$i} {
        width: calc(100vw - #{$i}px);
    }
    .vh100-#{$i} {
        height: calc(100vh - #{$i}px);
    }
}
.fitContent {
    width: fit-content;
    height: fit-content;
}


// lineHeight
@for $i from 60 to 201 {
    .lh#{$i} {line-height: calc(#{$i} * 1%);}
}
// letterSpacing
@for $i from 1 to 101 {
    .ls#{$i} {letter-spacing: #{$i}px;}
}

// margin/padding
@for $i from 1 to 301 {
    .m#{$i} {
        margin: #{$i}px !important;
    }
    .mx#{$i} {
        margin-right: #{$i}px !important;
        margin-left: #{$i}px !important;
    }
    .my#{$i} {
        margin-top: #{$i}px !important;
        margin-bottom: #{$i}px !important;
        
    }
    .mt#{$i} {
        margin-top: #{$i}px !important;
    }
    .mt-#{$i} {
        margin-top: -#{$i}px !important;
    }
    .mb#{$i} {
        margin-bottom: #{$i}px !important;
    }
    .mb-#{$i} {
        margin-bottom: -#{$i}px !important;
    }
    .ml#{$i} {
        margin-left: #{$i}px !important;
    }
    .ml-#{$i} {
        margin-left: -#{$i}px !important;
    }
    .mr#{$i} {
        margin-right: #{$i}px !important;
    }
    .mr-#{$i} {
        margin-right: -#{$i}px !important;
    }
    .p#{$i} {
        padding: #{$i}px !important;
    }
    .px#{$i} {
        padding-right: #{$i}px !important;
        padding-left: #{$i}px !important;
    }
    .py#{$i} {
        padding-top: #{$i}px !important;
        padding-bottom: #{$i}px !important;
    }
    .pt#{$i} {
        padding-top: #{$i}px !important;
    }
    .pb#{$i} {
        padding-bottom: #{$i}px !important;
    }
    .pl#{$i} {
        padding-left: #{$i}px !important;
    }
    .pr#{$i} {
        padding-right: #{$i}px !important;
    }
}

// flex
.flex {
    display: flex;
}
.flexColumn {
    display: flex;
    flex-direction: column;
}
.flexBetween {
    display: flex;
    justify-content: space-between;
}
.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.justifyStart {
    display: flex;
    justify-content: flex-start;
}
.justifyCenter {
    display: flex;
    justify-content: center;
}
.justifyEnd {
    display: flex;
    justify-content: flex-end;
}
.alignStart {
    display: flex;
    align-items: flex-start;
}
.alignCenter {
    display: flex;
    align-items: center;
}
.alignEnd {
    display: flex;
    align-items: flex-end;
}
.flexColumnCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.txtCenter {
    text-align: center;
}
.flexNone {
    flex: none;
}
@for $i from 1 to 10 {
    .flex#{$i} {
        flex-grow: #{$i};
    }
}

// table
tbody {
    @for $i from 1 to 101 {
        &.col#{$i} {
            &-align {
                &-start {
                    &>tr>td:nth-child(#{$i}) {
                        text-align: start;
                        &>div {
                            justify-content: start !important;
                        }
                    }
                }
                &-center {
                    &>tr>td:nth-child(#{$i}) {
                        text-align: center;
                        &>div {
                            justify-content: center !important;
                        }
                    }
                }
                &-end {
                    &>tr>td:nth-child(#{$i}) {
                        text-align: end;
                        &>div {
                            justify-content: end !important;
                        }
                    }
                }
            }
            &-vertical {
                &-top {
                    &>tr>td:nth-child(#{$i}) {
                        vertical-align: top;
                        &>div {
                            align-items: start !important;
                        }
                    }
                }
                &-middle {
                    &>tr>td:nth-child(#{$i}) {
                        vertical-align: middle;
                        &>div {
                            align-items: center !important;
                        }
                    }
                }
                &-bottom {
                    &>tr>td:nth-child(#{$i}) {
                        vertical-align: bottom;
                        &>div {
                            align-items: end !important;
                        }
                    }
                }
            }
        }
    }
    &.col-last {
        &-align {
            &-start {
                &>tr>td:last-child {
                    text-align: start;
                    &>div {
                        justify-content: start !important;
                    }
                }
            }
            &-center {
                &>tr>td:last-child {
                    text-align: center;
                    &>div {
                        justify-content: center !important;
                    }
                }
            }
            &-end {
                &>tr>td:last-child {
                    text-align: end;
                    &>div {
                        justify-content: end !important;
                    }
                }
            }
        }
        &-vertical {
            &-top {
                &>tr>td:last-child {
                    vertical-align: top;
                    &>div {
                        align-items: start !important;
                    }
                }
            }
            &-middle {
                &>tr>td:last-child {
                    vertical-align: middle;
                    &>div {
                        align-items: center !important;
                    }
                }
            }
            &-bottom {
                &>tr>td:last-child {
                    vertical-align: bottom;
                    &>div {
                        align-items: end !important;
                    }
                }
            }
        }
    }
}

//radius
.radius {
  border-radius: var(--radius);
}
@for $i from 1 to 301 {
  .r#{$i} {
    border-radius: #{$i}px;
  }
}

// gap
@for $i from 1 to 101 {
    .gap#{$i} {
        gap: #{$i}px ;
    }
}
.gap-1 {
    &>div:not(:first-child) {
        margin-left: -1px;
    }
}
// backdrop-filter
@for $i from 1 to 101 {
    .blur-back#{$i} {
      backdrop-filter: blur(#{$i}px);
    }
    .blur#{$i} {
        filter: blur(#{$i}px);
    }
}
  
// overflow
.scroll {
  overflow: scroll;
}
.scrollY {
  overflow-y: scroll;
  overflow-x: hidden;
  &Auto {
    overflow-y: auto;
    overflow-x: hidden;
  }
}
.overHidden {
    overflow: hidden;
}

// display / visibility
.displayNone {display: none;}
.hidden  {visibility: hidden; }
.visible {visibility: visible;}

// position
.relative {position: relative;}
.absolute {position: absolute;}
.fixed    {position: fixed;   }
@for $i from 1 to 101 {
    .at#{$i} {
        top: #{$i}px;
    }
    .at-#{$i} {
        top: -#{$i}px;
    }
    .al#{$i} {
        left: #{$i}px;
    }
    .al-#{$i} {
        left: -#{$i}px;
    }
    .ab#{$i} {
        bottom: #{$i}px;
    }
    .ab-#{$i} {
        bottom: -#{$i}px;
    }
    .ar#{$i} {
        right: #{$i}px;
    }
    .ar-#{$i} {
        right: -#{$i}px;
    }
}
.at0 {top: 0;   }
.ab0 {bottom: 0;}
.al0 {left: 0;  }
.ar0 {right: 0; }

// cursor
.cursor {
    cursor: pointer;
}

//transition
@for $i from 1 to 31 {
    .transition#{$i} {
        transition: calc(#{$i} * 0.1s);
    }
}

// ellipsis
@for $i from 1 to 11 {
    .ellipsis#{$i} {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
         -webkit-line-clamp: #{$i};
         -webkit-box-orient: vertical;
    }
}

// test
.test {
    border: 1px solid red;
}
