.custom-button {
  background-color: transparent !important;
  position: relative !important;
  color: var(--black) !important;
  &:hover {
    color: var(--white) !important;
    &::after  {
      left: 0;
    }
  }
  &::after {
    content: '';
    position: absolute;
    left: calc(-100% + 32rem);
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 100rem;
    background-color: var(--primary);
    transition: 0.5s;
  }
}

.tab-custom {
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: var(--primary);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  &.close {
    width: 0;
  }
}