$iconsList :
  'arrow-right',
  'check',
  'search',
  'code',
  'edit',
  'bulb',
  'process-arrow',
;

.i {
  @each $item in $iconsList {
    &-#{$item} {
      @include mask('icons/#{$item}.svg');
      width: 20rem;
      height: 20rem;
      &:not([class*="bgc-"]) {
        background-color: var(--gray6);
      }
    }
  }
  &-location-arrow {
    @include mask('icons/location-arrow.svg');
    width: 5rem;
    height: 8rem;
  }
  &-gitlab {
    @include image("gitlab.svg");
    width: 43rem;
    height: 43rem;
  }
  &-github {
    @include image("github.svg");
    width: 43rem;
    height: 43rem;
  }
  &-figma {
    @include image("figma.svg");
    width: 43rem;
    height: 43rem;
  }
}