.home {
  &-bg {
    position: fixed;
    transform: translateY(-50%);
    top: 50%;
    left: 50%;
    z-index: -1;
  }
}

// layout
.content-width {
  width: 1000rem;
  &-home {
    width: 1400rem;
  }
}

.layout {
  &-all {
    display: flex;
    flex-direction: column;
    gap: 50rem;
  }
  &-title {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 5rem;
    &>h2 {
      margin-bottom: 15rem;
      &::after {
        content: '';
        width: 12rem;
        height: 12rem;
        border-radius: var(--radius);
        position: absolute;
        top: 0rem;
        left: -30rem;
        background-color: var(--primary);
      }
    }
  }
  &-small {
    display: flex;
    flex-direction: column;
    gap: 10rem;
  }
  &-example {
    border-radius: var(--radius);
    border: 1px solid var(--grayc);
    padding: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
  }
  &-scroll {
    border-radius: var(--radius);
    border: 1px solid var(--grayc);
    padding: 20rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10rem;
    position: fixed;
    top: 50%;
    left: calc(50% + 500rem + 170rem + 20rem);
    transform: translateY(-50%);
    min-width: 120rem;
    &>p {
      font-size: 14rem;
      color: var(--gray9);
      font-weight: bold;
    }
    &>a {
      font-size: 12rem;
      text-align: start;
      color: var(--black);
      cursor: pointer;
      &:hover {
        color: var(--primary);
        text-decoration: underline;
      }
    }
  }
}

h1 {
  font-size: 60rem;
  font-weight: 800;
  color: var(--black);
}
h2 {
  font-size: 30rem;
  font-weight: 700;
  color: var(--black);
}
h3 {
  font-size: 24rem;
  font-weight: 700;
  color: var(--black);
}
.description {
  font-size: 16rem;
  font-weight: 400;
  color: var(--gray6);
  line-height: 150%
}


// table
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Space+Mono:wght@400;700&display=swap');
.table {
  &-props {
    &-col1 {width: 120rem;}
    &-col2 {width: 180rem;}
    &-value {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &::after {
        content: '(bold : default)';
        font-size: 11rem;
        font-weight: 300;
      }
    }
  }
}
tbody.table {
  &-props {
    &>tr {
      &>td:first-child {
        color: var(--props-color);
        font-weight: bold;
        font-family:'Space Mono', monospace;
        text-align: center;
      }
      &>td:nth-child(2) {
        color: var(--value-color);
        font-family:'Space Mono', monospace;
        text-align: start;
      }
      &>td:last-child {
        text-align: start;
        font-size: 14rem;
        font-weight: 300;
        color: var(--gray3);
        line-height: 150%;
        letter-spacing: 0.5rem;
      }
    }
  }
}

// loading
.loading-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: close 1s ease-in forwards;
  animation-direction: normal;
  animation-iteration-count: normal;
}

@keyframes close {
  0% {
    opacity: 1;
    visibility: visible;
  }
  99% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

// codeMirror
.codeMirror {
  padding: var(--radius);
  border-radius: var(--radius);
  max-height: 500rem;
  overflow-x: auto;
  overflow-y: auto;
  background-color: #282c34;
  position: relative;
  &>.btn-wrap {
    margin-bottom: -29rem;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10rem;
    padding: 5rem 5rem 0 0;
    z-index: 100;
    &>p {
      font-size: 14rem;
      color: white;
    }
    &>button {
      position: relative;
      z-index: 99;
    }
  }
  &::-webkit-scrollbar-track {
    border: 0;
    border-radius: 0;
  }

  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background: rgba(255,255,255, 0.2);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: rgba(255,255,255, 0.4);
  }
  &>div {
    font-size: 14rem !important;
  }
}