@for $i from 1 to 100 {
  .blur#{$i} {
    backdrop-filter: blur(#{$i}rem);
  }
}

.home-content-width {
  width: var(--home-content-width);
}

.absolute {
  position: absolute;
}
.b0 {
  bottom: 0;
}

.test {
  border: 1px solid red;
}