html {
  font-size: 1px;
  letter-spacing: 0.5rem;
}

@media (max-width : 1600px) {  
  html {
    font-size: 0.9px;
  }
}

:root {
  // color
  --props-color: #41639e;
  --value-color: #c86523;

  // location
  --location-font-size: 12rem;
  --location-gap: 10rem;
  --location-light: var(--black);
  --location-light-hover: var(--black);
  --location-bold: var(--black);
}