html {
  letter-spacing: 0rem;
  body {
    font-size: 14px !important;
  }
}

@media (max-width : 1600px) {  
  html {
    font-size: 0.9px;
  }
}

:root {
  // color
  --props-color: #41639e;
  --value-color: #c86523;

  // location
  --location-font-size: 12px;
  --location-gap: 10px;
  --location-light: var(--black);
  --location-light-hover: var(--black);
  --location-bold: var(--black);
}