html {
  font-size: 1px;
}

@media (max-width : 1600px) {  
  html {
    font-size: 0.9px;
  }
}

:root {
  --location-font-size: 12rem;
  --location-gap: 10rem;
  --location-light: var(--black);
  --location-light-hover: var(--black);
  --location-bold: var(--black);
}