.location {
    &-wrap {
        display: flex;
        gap: var(--location-gap);
        align-items: center;
    }    
    &-light {
        font-size: var(--location-font-size);
        color: var(--location-light);
        cursor: pointer;
        &:hover {
            color: var(--location-light-hover);
        }
    }
    &-bold {
        font-size: var(--location-font-size);
        color: var(--location-bold);
        cursor: pointer;
    }
    &-arrow {
        @include mask('arrow-right.svg');
        width: 20px;
        height: 20px;
        background-color: var(--gray6);
    }
}