.slide {
    width: var(--slide-width);
    height: 100%;
    display: flex;
    transition: 0.5s;
    margin-left: var(--slide-margin-left);
    &-wrap {
        position: relative;
        width: 100%;
        height: 700rem;
        overflow: hidden;
    }
    &-btn {
        &.left {
            transform: rotate(180deg);
        }
        &>i {
            @include mask('arrow-right.svg');
            background-color: var(--black);
            width: 20rem;
            height: 20rem;
        }
        &:hover {
            &>i {
                background-color: var(--white);
            }
        }
        &-wrap {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 30rem;
        }
    }
    &-nav {
        width: 14rem;
        height: 14rem;
        background-color: var(--gray9);
        border-radius: 100rem;
        cursor: pointer;
        &.select {
            background-color: white;
        }
        &-wrap {
            display: flex;
            gap: 10rem;
            align-items: center;
            position: absolute;
            bottom: 20rem;
            left: 50%;
            transform: translateX(-50%);
        }
        &-pause {
            @include mask('pause.svg');
            display: flex;
            width: 20rem;
            height: 20rem;
            background-color: var(--gray9);
        }
        &-play {
            @include mask('play.svg');
            display: flex;
            width: 20rem;
            height: 20rem;
            background-color: var(--gray9);
        }
    }
}



